body{
    font-family: 'Arial', sans-serif;
    color: #282828;
    font-size: 16px;
}
header{
    background: #f0f2f8;
    padding-bottom: 90px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1390px;
    margin:0 auto;
    position: relative;
}
.nav{
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    padding-top: 47px;
}
.logo{
    width: 84px;
}
.phone{
    margin-left: auto;
}
.phone a{
    color: #282828;
    text-decoration: none;
}
.email{
    margin-left: 67px;
}
.email a{
    color: #282828;
    text-decoration: none;
}
.header-content {
    margin-top: 85px;
}
.offer{
    width: 470px;
    position: absolute;
    left: 972px;
    top: 100px;
}
.offer h1{
    font-size: 70px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    line-height: 1.05em;
    margin-bottom: 40px;

}
.offer p{
    color: black;
    font-size: 18px;
    width: 355px;
    line-height: 1.05em;
    margin-left: 102px;
}
.btn{
    color: #e42f44;
    font-size: 15px;
    background: none; /* обнуление свойств кнопки*/
    border: none;
    width: 190px;
    display: flex;
    align-items: center;
    margin-left: 102px;

}
.btn .arrow{
    display: block;
    color: #e42f44;
    border: 1px solid #e42f44;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px; /*центрирование контента внутри border*/
    margin-right: 20px;
    margin-top: 32px;
}
.added{
    margin-top: 60px;
    margin-bottom: 90px;
}
.add-text{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.08em;
    width: 600px;
    margin-left: auto;
    display: block;
}
.add-text:before{
    content: "";
    width: 55px;
    height: 1px;
    display: block;
    background: #e42f44;
    position: absolute;
    margin-left: -100px;
    margin-top: 7px;
}



















